    <header>
      <div id="inner-header" class="inner">
        <div id="block-logo">
          <h1><%= link_to "消耗管理アプリ", root_path %></h1>
        </div>
        <nav id="block-menu">
          <ul>
            <li><%= link_to "購入登録", new_item_path %></li>
          </ul>
        </nav>
      </div>
    </header>
