        <div class="block-fullwidth">
          <h2>消費を記録する</h2>
          <div id="block-form">
          <%= render partial: 'shared/formdamage', locals:{damage: @damage, item: @item} %>
          </div>
        </div>
