<!DOCTYPE html>
<html lang="Ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="ress.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <div id="inner-header" class="inner">
        <div id="block-logo">
          <a href=""><h1>消耗管理アプリ</h1></a>
        </div>
        <nav id="block-menu">
          <ul>
            <li><a href="">購入登録</a></li>
            <li><a href="">消費登録</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div id="inner-main" class="inner">
        <div class="block-fullwidth">
          <h2>買ったものを記録する</h2>
          <div id="block-form">
            <form action="" name="item">
              <input type="text" name="name" placeholder="名称を入力">
              <input type="date" name="date"></input>
              <select name="genre">
                <option value="0">-----</option>
                <option value="1">野菜</option>
                <option value="2">肉・魚・卵(生鮮)</option>
                <option value="3">Cookdo系(調理材料)</option>
                <option value="4">メイン冷凍</option>
                <option value="5">サブ冷凍</option>
                <option value="6">その他お惣菜</option>
                <option value="7">朝食系</option>
                <option value="8">贅沢品</option>
              </select>
              <select name="from">
                <option value="1">たまや</option>
                <option value="2">マックスバリュー</option>
                <option value="3">コープ</option>
                <option value="4">ラスカ系列</option>
                <option value="4">その他</option>
              </select>
              <textarea name="comment" placeholder="コメントがあれば入力"></textarea>
              <input type="submit" value="記録する！">
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="inner">
        <div id="block-copyright">
          <small>消耗管理アプリ©︎俺</small>
        </div>
      </div>
    </footer>
  </body>
</html>