        <div class="block-fullwidth">
          <h2>今月の買い物金額は<%= @all_price %>円です</h2>
          <div class="block-items">
            <ul>
              <% @items.each do |item| %>
              <%= render partial: 'shared/itemloop', locals: {item: item} %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="block-fullwidth">
          <h2>今月の消費金額は333円です</h2>
          <div class="block-items">
            <ul>
              <li class="item item-syouhi">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>消費量: </span>100%</li>
                  <li class="itemdata-s"><span>消費計算Price: </span>332円</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメント</li>
                </ul>
              </li>
              <li class="item item-syouhi">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>消費量: </span>100%</li>
                  <li class="itemdata-s"><span>消費計算Price: </span>332円</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメント</li>
                </ul>
              </li>
              <li class="item item-syouhi">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>消費量: </span>100%</li>
                  <li class="itemdata-s"><span>消費計算Price: </span>332円</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメント</li>
                </ul>
              </li>
              <li class="item item-syouhi">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>消費量: </span>100%</li>
                  <li class="itemdata-s"><span>消費計算Price: </span>332円</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメント</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>