<!DOCTYPE html>
<html lang="Ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="ress.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <div id="inner-header" class="inner">
        <div id="block-logo">
          <a href=""><h1>消耗管理アプリ</h1></a>
        </div>
        <nav id="block-menu">
          <ul>
            <li><a href="">購入登録</a></li>
            <li><a href="">消費登録</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div id="inner-main" class="inner">
        <div class="block-fullwidth">
          <h2>今月の買い物金額は333円です</h2>
          <div class="block-items">
            <ul>
              <li class="item">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>Amount: </span>100%</li>
                  <li class="itemdata-s"><span>Price: </span>332円</li>
                  <li class="itemdata-s"><span>From: </span>たまや</li>
                  <li class="itemdata-s"><span>Genre: </span>野菜</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメントコメントコメントコメントコメント</li>
                </ul>
              </li>
              <li class="item">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>Amount: </span>100%</li>
                  <li class="itemdata-s"><span>Price: </span>332円</li>
                  <li class="itemdata-s"><span>From: </span>たまや</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメントコメントコメントコメントコメント</li>
                </ul>
              </li>
              <li class="item">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>Amount: </span>100%</li>
                  <li class="itemdata-s"><span>Price: </span>332円</li>
                  <li class="itemdata-s"><span>From: </span>たまや</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメントコメントコメントコメントコメント</li>
                </ul>
              </li>
              <li class="item">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>Amount: </span>100%</li>
                  <li class="itemdata-s"><span>Price: </span>332円</li>
                  <li class="itemdata-s"><span>From: </span>たまや</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメントコメントコメントコメントコメント</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="block-fullwidth">
          <h2>今月の消費金額は333円です</h2>
          <div class="block-items">
            <ul>
              <li class="item item-syouhi">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>消費量: </span>100%</li>
                  <li class="itemdata-s"><span>消費計算Price: </span>332円</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメント</li>
                </ul>
              </li>
              <li class="item item-syouhi">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>消費量: </span>100%</li>
                  <li class="itemdata-s"><span>消費計算Price: </span>332円</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメント</li>
                </ul>
              </li>
              <li class="item item-syouhi">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>消費量: </span>100%</li>
                  <li class="itemdata-s"><span>消費計算Price: </span>332円</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメント</li>
                </ul>
              </li>
              <li class="item item-syouhi">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>消費量: </span>100%</li>
                  <li class="itemdata-s"><span>消費計算Price: </span>332円</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメント</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="inner">
        <div id="block-copyright">
          <small>消耗管理アプリ©︎俺</small>
        </div>
      </div>
    </footer>
  </body>
</html>