        <div class="block-fullwidth">
          <h2>買ったものを記録する</h2>
          <div id="block-form">
          <%= render partial: 'shared/form', locals:{item: @item} %>
          </div>
        </div>
