        <div class="block-fullwidth">
          <h2>詳細データ</h2>
          <div class="block-items">
            <ul>
              <%= render partial: 'shared/itemloop', locals:{item: @item, rest: @rest} %>
            </ul>
          </div>
        </div>
        <div class="block-fullwidth">
          <h2>このアイテムの消費データ</h2>
          <div class="block-items">
            <% unless @damages == [] %>
            <ul>
              <% @damages.each do |damage| %>
              <%= render partial: 'shared/damageloop', locals: {damage: damage} %>
              <% end %>
              <% else %>
            </ul>
            <p>特にありませんの</p>
            <% end %>
          </div>
        </div>

